.animals h1 {
  font-style: italic;
}

h1 {
  text-align: center;
  font-family: 'Akronim', cursive;
  font-size: 60px;
}

h2 {
  text-align: center;
  font-family: 'Akronim', cursive;
  font-size: 30px;
}

body  {
  background-image: url("https://cdn.shopify.com/s/files/1/2930/2308/products/old-master-sky-blue-with-white-smoke-abstract-background-backdrop_cddbf478-6077-457f-b325-a14511e74b1b_530x@2x.jpg");
  background-color: #cccccc;
  background-size: cover;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

img {
  margin-top: 50px;
  margin-bottom: 50px;
}
